<div class="post-edit row">
  <div class="pod col-12 rounded shadow-sm">
    <h1>Editing Post</h1>

    <div class="my-3">
      <%= render 'form', post: @post %>
    </div>

    <%= link_to 'Show', cms_post_path(@post), class: 'btn btn-sm btn-outline-primary' %>
    <%= link_to 'Back', cms_posts_path, class: 'btn btn-sm btn-outline-dark' %>
  </div>
</div>
