<div class="row">
  <div class="pod col-12 rounded shadow-sm">
    <h1>New Post</h1>

    <div class="my-3">
      <%= render 'form', post: @post %>
    </div>

    <%= link_to 'Back', cms_posts_path, class: 'btn btn-sm btn-outline-dark' %>
  </div>
</div>
