<div class="row">
  <div id="form-search-post" class="col-12 col-lg-4">
    <div class="podlet rounded shadow-sm mb-4">
      <div class="p-4">
        <%= render 'form', post: @post %>
      </div>
    </div>
  </div>

  <% if @results.present? %>
    <div id="results-search-post" class="col-12 col-lg-8">
      <div class="pod rounded shadow-sm">
        <p id='results-search-post__count' class="text-muted px-3">
          <%= pluralize(@results.count, 'result') %>
        </p>

        <%= render partial: 'result', collection: @results %>
      </div>

      <div class="d-flex justify-content-center">
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    </div>
  <% end %>
</div>
