<%= render partial: 'cms_sidebar_categories', locals: { status: nil } %>

<div class="row">
  <div class="pod col-12 rounded shadow">
    <h1>Editing Category</h1>

    <div class="my-3">
      <%= render 'form', category: @category %>
    </div>

    <%= link_to 'Show', cms_category_path(@category), class: 'btn btn-sm btn-outline-primary' %>
    <%= link_to 'Back', cms_categories_path, class: 'btn btn-sm btn-outline-dark' %>
  </div>
</div>
