<%= render partial: 'cms_sidebar_documents', locals: { status: nil } %>

<div class="row">
  <div class="pod col-12 col-lg-8 shadow-sm rounded order-2 order-lg-1">
    <%= render 'form', document: @document %>
  </div>
  <div class="pod col-12 col-lg-4 rounded order-1 order-lg-2">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        File size should not be more than 5 MB
      </li>
      <li class="list-group-item">
        Supported file formats are .jpeg, .jpg, .png, .pdf
      </li>
      <li class="list-group-item">Annotation is optional</li>
      <li class="list-group-item">
        Annotation, if present, should not be more than 50 characters
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <h3 class="pod shadow-sm rounded p-3 w-100">
    Attachments for <%= link_to @documentable.title, cms_post_url(@documentable) %>
  </h3>
</div>

<div class="row d-flex justify-content-between justify-content-lg-start">
  <%= render @documents %>
</div>
