<div class="row">
  <div class="offset-2"></div>
  <div class="pod col-8 rounded shadow">
    <h1>New Department</h1>

    <div class="my-3">
      <%= render 'form', department: @department %>
    </div>

    <%= link_to 'Back', cms_departments_path, class: 'btn btn-sm btn-outline-dark' %>
  </div>
</div>
