@import "trix/dist/trix";

// We need to override trix.css’s image gallery styles to accommodate the
// <action-text-attachment> element we wrap around attachments. Otherwise,
// images in galleries will be squished by the max-width: 33%; rule.
.trix-content {
  .attachment-gallery {
    > action-text-attachment,
    > .attachment {
      flex: 1 0 33%;
      padding: 0 0.5em;
      max-width: 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  action-text-attachment {
    .attachment {
      padding: 0 !important;
      max-width: 100% !important;
    }
  }
}

trix-toolbar {
	background-color: #928ad4;
	padding-top: 9px;
	padding-left: 5px;
	padding-right: 5px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;

	.trix-button-group {
		border: none;

		&:not(:first-child) {
			margin-left: 0;
		}
	}

	.trix-button {
		border-bottom: none;
		border-left: 1px solid #928ad4 !important;

		&.trix-active, &:hover {
			background: rgba(255, 255, 255, 0.6);
			border-radius: 3px;
		}

		&.trix-active {
			box-shadow: 2px 2px 2px #686298;
			outline: none;
		}

		&:last-child {
			border-right: 1px solid #928ad4;
		}

		&--icon-attach,
		&--icon-code,
		&--icon-decrease-nesting-level,
		&--icon-increase-nesting-level {
			display: none;
		}
	}

	.trix-dialog {
		background-color: #9085ef;
		border-top: none;
		box-shadow: 0 0.3em 1em #7c69b9
	}
}

trix-editor.form-control {
	min-height: 250px;
	margin-top: 2px;
	overflow-y: auto;
}
