<div data-target="nav-item-activator.item" data-item="home">
  <section id="main">
    <div class="row">
      <div class="col-md-8">
        <h1 class="text-uppercase text-white pl-5 pt-5">
          Lotus Boulevard<br>
          Apartment Owners Association
        </h1>
        <p class="lead text-white pt-3 pl-5">
        Multiple lines of text that form the lede,<br>
        informing new readers quickly and efficiently about what's most<br>
        interesting in this section's contents.
        </p>
        <h5 class="pl-5 pt-3 pb-5"><%= link_to 'Learn More', page_path(page: 'lbaoa'), class: 'btn btn-outline-light' %></h5>
      </div>
      <div class="col-md-4 d-sm-none d-md-block">
      </div>
    </div>
  </section>

  <section id="features" class="mt-5">
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="border shadow-sm h-100 d-flex flex-column justify-content-between">
          <div class="feature__info">
            <div class="feature__heading text-white p-3">
              <h5 class="mb-0">Posts by AOA</h5>
            </div>
            <div class="feature__body p-3">
              Dolor exercitationem tenetur ut ipsam aut Doloremque soluta explicabo
              aperiam nobis officia? Corrupti impedit eum odio accusantium dolorem
              dignissimos? Similique.
            </div>
          </div>
          <div class="feature__cta p-3">
            <%= link_to 'All Posts', posts_path, class: 'btn btn-outline-secondary btn-block' %>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="border shadow-sm h-100 d-flex flex-column justify-content-between">
          <div class="feature__info">
            <div class="feature__heading text-white p-3">
              <h5 class="mb-0">Tender Notices by AOA</h5>
            </div>
            <div class="feature__body p-3">
              Ipsum illo quas laudantium hic blanditiis. Modi sint aut aperiam
              aspernatur ab Eius temporibus perferendis dolorum fugiat quidem
              rem voluptates Vero sed ipsa cupiditate ducimus error? Ex natus rem
              cupiditate accusamus rem. Excepturi tempore placeat optio
              necessitatibus odit, mollitia. Praesentium amet doloremque alias
            </div>
          </div>
          <div class="feature__cta p-3">
            <%= link_to 'View Tender Notices', tender_notices_path, class: 'btn btn-outline-secondary btn-block' %>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-4 mb-3">
        <div class="border shadow-sm h-100 d-flex flex-column justify-content-between">
          <div class="feature__info">
            <div class="feature__heading text-white p-3">
              <h5 class="mb-0">President's Words</h5>
            </div>
            <div class="feature__body p-3">
              Lorem velit voluptas itaque quibusdam neque, facere? Expedita neque
              ducimus ipsum esse eius, quasi repellendus Aliquid voluptas dolor ea
              perspiciatis assumenda soluta. Ipsam corrupti voluptatem corrupti
              magnam odio. Ad nesciunt?
            </div>
          </div>
          <div class="feature__cta p-3">
            <%= link_to 'More by President', '#', class: 'btn btn-outline-secondary btn-block' %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
